body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    animation: fadeIn 1s ease-in-out;
    min-height: 672px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    max-width: 500px;
    min-height: 558px;
}

.copy-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.input-container {
    margin-right: 0px;
}

.verification-time {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .input-container,
    .output-container {
        flex: 1;
        margin-right: 20px;
    }
}